body{
    font-family: sans-serif;
}
h1 {
    color: cadetblue;
    font-weight: bold;
    font-size: 24px;
    display: block;
}

a{
    color: darkcyan;
    font-style: italic;
    text-decoration: none;
}

a.link-principal {
    font-style: normal;
    font-weight: bold;
    padding: 20px;
    display: block;
}

input{
    width: 300px;
}

